<!DOCTYPE html>
<html>
<head>
    <title>Cosmo Rodante</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/home.css">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <!--<script src="../js/home.js"></script>-->
</head>
<body>
    <nav class="navbar navbar-default header-nav">
        <div class="container -max-width">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Cosmo Rodante</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">¿DÓNDE ESTAMOS?</a></li>
                    <li><a href="#">¿QUIÉNES SOMOS?</a></li>
                    <li><a href="#">SEMINARIOS</a></li>
                    <li><a href="#">TALLERES</a></li>
                    <li><a href="#">TERAPIAS</a></li>
                    <li><a href="#">ESPECTÁCULOS</a></li>
                    <li><a href="#">FOTOS</a></li>
                    <li><a href="#">CONTACTO</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid home-heading text-center">
        <h1 class="margin">Cosmo Rodante</h1>
        <img src="../images/14718839_404297099958215_2122501957124212158_n.jpg" class="img-responsive img-circle margin -inline" alt="Camioneta cosmo rodante" width="500" height="350">
    </div>

    <div class="container-fluid -dark text-center -spacing-top-bottom">
        <h3 class="margin">¿Quiénes somos?</h3>
        <p class="-medium-font-size">Somos Ana (Buenos Aires) y Gaspar (Entre Ríos) Empezamos a viajar desde Enero (2016) con el sueño de poder llevar lo que nos apasiona a donde vayamos, conocer gente, paisajes, culturas...</p>
        <p class="-medium-font-size">¡Lo Logramos!, y estamos felices de poder vivir de esta autogestión.</p>
    </div>

    <footer class="container-fluid -gray text-right -small-spacing-top-bottom -medium-spacing-right">
        <p class="-medium-font-size">Hecho por <a target="_blank" href="http://www.twitter.com/lan_vega">@lan_vega</a></p>
    </footer>
</body>
</html>