<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/home.css">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <!--<script src="../js/home.js"></script>-->
</head>
<body>
    <div class="jumbotron text-xs-center home-main-container">
        <div class="container heading-text">
            <h1>Cosmo Rodante</h1>
            <p>Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
            <p>plin plin</p>
        </div>
    </div>

</body>
</html>