body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}

.header-nav {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.-inline {
    display:inline
}

.-white {
    background-color: whitesmoke;
    color: #555555;
}

.-dark {
    background-color: #474e5d;
    color: white;
}

.-gray {
    background-color: #2f2f2f;
    color: white;
}

.-teal {
    background-color: teal;
    color: whitesmoke;
}

.-text-black {
    color: black;
}

.-text-red {
    color: red;
}

.-medium-spacing {
    padding: 50px 25px;
}

.-spacing-top-bottom {
    padding-top: 70px;
    padding-bottom: 70px;
}

.-medium-spacing-top-bottom {
    padding-top: 50px;
    padding-bottom: 50px;
}

.-small-spacing-top-bottom {
    padding-top: 40px;
    padding-bottom: 30px;
}

.-small-spacing-bottom {
    padding-bottom: 20px;
}

.-medium-spacing-right {
    padding-right: 50px;
}

.-margin-bottom {
    margin-bottom: 25px;
}

.-medium-font-size {
    font-size: 16px;
}

.-small-font-size {
    font-size: 13px;
}

.-max-width {
    width: 100%;
}

@media (max-width: 1555px) {
    .navbar-responsive-collapse {
        display: none !important;
    }
    .navbar-toggle {
        display: block;
    }
}

@media (min-width: 1556px) {
    .collapse {
        display: block;
    }
}