body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}

.header-nav {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.nav-separator {
    border-left: 1px solid #EEE;
}

.nav-separator:first-child {
    border-left: none;
}

.-inline {
    display:inline
}

.-white {
    background-color: whitesmoke;
    color: #555555;
}

.-dark {
    background-color: #474e5d;
    color: white;
}

.-gray {
    background-color: #2f2f2f;
    color: white;
}

.-teal {
    background-color: teal;
    color: whitesmoke;
}

.-bisque {
    background-color: bisque;
    color: darkred;
}

.-cadet {
    background-color: cadetblue;
    color: cornsilk;
}

.-text-black {
    color: black;
}

.-text-white {
    color: white;
}

.-text-red {
    color: red;
}

.-text-blue {
    color: blue;
}

.-no-hover-underline:hover {
    text-decoration: none;
}

.-no-hover-underline:focus {
    text-decoration: none;
}

.-medium-spacing {
    padding: 50px 25px;
}

.-spacing-top-bottom {
    padding-top: 70px;
    padding-bottom: 70px;
}

.-medium-spacing-top-bottom {
    padding-top: 50px;
    padding-bottom: 50px;
}

.-small-spacing-top-bottom {
    padding-top: 40px;
    padding-bottom: 30px;
}

.-xs-spacing-top-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
}

.-small-spacing-bottom {
    padding-bottom: 20px;
}

.-medium-spacing-right {
    padding-right: 50px;
}

.-xs-spacing-right {
    padding-right: 10px;
}

.-medium-spacing-left {
    padding-left: 50px;
}

.-margin-bottom {
    margin-bottom: 25px;
}

.-xxl-font-size {
    font-size: 25px;
}

.-xl-font-size {
    font-size: 20px;
}

.-large-font-size {
    font-size: 18px;
}

.-medium-font-size {
    font-size: 16px;
}

.-small-font-size {
    font-size: 13px;
}

.-max-width {
    width: 100%;
}

.header-image {
    max-height: 500px;
}

.image-at-left-with-text {
    float: left;
    margin-right: 20px;
    margin-top: 6px;
}

/*MOBILE*/
@media (max-width: 767px) {
    .image-at-left-with-text {
        margin-bottom: 10px;
    }
}

@media (max-width: 1557px) {
    .navbar-responsive-collapse {
        display: none !important;
    }
    .navbar-toggle {
        display: block;
    }
}

@media (min-width: 1558px) {
    .collapse {
        display: block;
    }
}