.where-background {
    background: teal url(../../images/donde-estamos/fondo.jpg);
}

.color-heading-where {
    background-color: rgba(40, 96, 144, 0.63);
    text-shadow: 1px 1px black;
    width: 333px;
    margin: 20px auto;
}

.under-heading-where {
    background-color: rgba(40, 96, 144, 0.63);
    text-shadow: 1px 1px black;
    width: 550px;
    margin: 10px auto;
}

@media (max-width: 767px) {
    .color-heading-where {
        width: 191px;
    }
    .under-heading-where {
        width: 275px;
    }
}
